* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Roboto Mono', sans-serif;
}

h3 {
  font-family: 'Space Grotesk', sans-serif;
  color: rgb(36, 39, 43);
}

h2 {
  color: rgb(91, 98, 107);
}

p {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
  margin-bottom: .2rem;
}

.menu-section, .news-section, .emphasis-section, .services-section, .results-section, .footer {
  border: 2px solid rgba(0, 0, 0, 0.23);
  padding: .5rem;
}

.menu-section > header,
.news-section > header,
.emphasis-section > header,
.services-section > header,
.results-section > header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    margin-bottom: .5rem;
}


.menu-section > ul,
.news-section > ul,
.emphasis-section > ul {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}


@media screen and (max-width: 1184px) {
  .menu-news-emphasis-container, .services-results-container {
      width: 100%;
      padding: 20px;
  }

  * {
      font-size: 1.2rem;
  }

  main {
      margin-top: .625rem;
  }
}

@media screen and (max-width: 728px){
  * {
      font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .menu-news-emphasis-container, .services-results-container {
      grid-template-columns: 1fr;
      padding: 15px;
  }

  main {
      margin-top: .625rem;
  }
}
