.caixa {
    position: absolute;
    border: solid rgb(57, 18, 129);
    width: 100px;
    height: 100px;
    margin: 10px;
    left: 10px;
    top: 10px;
    position: absolute;
}

.caixa2 {

    border: solid blue;
    border-radius: 70%;
    width: 100px;
    height: 100px;
    margin: 10px;
    left: 10px;
    top: 120px;
    position: absolute;
    
}

.caixa3 {

    border: solid brown;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: absolute;
    left: 10px;
    top: 230px;
}