.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dfedfd;
  padding: 1.875rem;
  margin-bottom: 1rem;
}

/* Estilos para a imagem no cabeçalho */
header img {
  width: 5.625rem;
}
