h2{
    color: orange;
}

h5{
    color: orange;
}

.Roupas{
    color:blue
}

.usada{
    color:violet
}

li{
    color:orange
}

.alimentos{
    color: lightblue
}

.moveis{
    color: blue;
}

.usada2{
    color: lightgreen;
}

